.name{
background-color:rgb(255, 255, 224);
 color:brown;
font-size:20px;

}
 
.ac{
background-color:rgb(221, 160, 221);
 color:brown;
font-size:20px;
}
.ca{
background-color:rgb(255, 235, 205);
 color:brown;
font-size:20px;
{
